html
    head
        style
        script(src="1.js")
        link(src='1.css',rel='stylesheet')
    body
        div
            ul 
                li 
                    input(typt='text',value='123',id='1')
                li
                    input(typt='text',value='asd',id='2')
                li
                    input(typt='text',value='zxc',id='3')
                li
                